.App {
  text-align: center;
}

.header {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0px 10px 0px 10px;
}

.header__title {
  margin: 0;
  font-style: italic;
  font-size: 60px;
}