.App {
  text-align: center;
}

.header {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0px 10px 0px 10px;
}

.header__title {
  margin: 0;
  font-style: italic;
  font-size: 60px;
}

.header__navlinks {
  font-style: italic;
  cursor: pointer;
}

.vehicles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.vehicle-card {
  border-style: solid;
  border-width: 0.8px;
  margin: 5px 0px 5px 0px;
  padding: 10px;
  width: 400px;
}

.vehicle-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.vehicle-card__header-host {
  display: flex;
}

.vehicle-card__host-avatar {
  border-style: solid;
  border-width: 0.5px;
  border-radius: 100%;
  margin-left: 10px;
  width: 50px;
  height: 50px;
}

.vehicle-card__link {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 2px;
}
a:hover, button:hover {
  cursor: pointer;
}

.vehicle-image {
  display: flex;
  justify-content: center;
}

.vehicle-image img {
  max-width: 400px;
}

.reservation-card {
  display: grid;
  grid-template-columns: 400px calc(100vw - 400px);
  grid-template-rows: 100px 50px 50px 50px 50px;
  justify-items: center;
}
.reservation-card .vehicle-image {
  grid-column: 1;
  grid-row: 1 / 6;
}
.reservation-card p, h1 {
  grid-column: 2;
}
.reservation-card button {
  background-color: black;
  margin: 2px;
  width: 250px;
}

.new-reservation {
  padding: 10px 25vw;
  text-align: center;
}

.new-reservation__submit {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
}


.host-card {
  text-align: center;
}

.host-card img {
  max-width: 300px;
}